<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>40kg以下</string>
	<string>40kg</string>
	<string>41kg</string>
	<string>42kg</string>
	<string>43kg</string>
	<string>44kg</string>
	<string>45kg</string>
	<string>46kg</string>
	<string>47kg</string>
	<string>48kg</string>
	<string>49kg</string>
	<string>50kg</string>
	<string>51kg</string>
	<string>52kg</string>
	<string>53kg</string>
	<string>54kg</string>
	<string>55kg</string>
	<string>56kg</string>
	<string>57kg</string>
	<string>58kg</string>
	<string>59kg</string>
	<string>60kg</string>
	<string>61kg</string>
	<string>62kg</string>
	<string>63kg</string>
	<string>64kg</string>
	<string>65kg</string>
	<string>66kg</string>
	<string>67kg</string>
	<string>68kg</string>
	<string>69kg</string>
	<string>70kg</string>
	<string>71kg</string>
	<string>72kg</string>
	<string>73kg</string>
	<string>74kg</string>
	<string>75kg</string>
	<string>76kg</string>
	<string>77kg</string>
	<string>78kg</string>
	<string>79kg</string>
	<string>80kg</string>
	<string>81kg</string>
	<string>82kg</string>
	<string>83kg</string>
	<string>84kg</string>
	<string>85kg</string>
	<string>86kg</string>
	<string>87kg</string>
	<string>88kg</string>
	<string>89kg</string>
	<string>90kg</string>
	<string>91kg</string>
	<string>92kg</string>
	<string>93kg</string>
	<string>94kg</string>
	<string>95kg</string>
	<string>96kg</string>
	<string>97kg</string>
	<string>98kg</string>
	<string>99kg</string>
	<string>100kg</string>
	<string>101kg</string>
	<string>102kg</string>
	<string>103kg</string>
	<string>104kg</string>
	<string>105kg</string>
	<string>106kg</string>
	<string>107kg</string>
	<string>108kg</string>
	<string>109kg</string>
	<string>110kg</string>
	<string>111kg</string>
	<string>112kg</string>
	<string>113kg</string>
	<string>114kg</string>
	<string>115kg</string>
	<string>116kg</string>
	<string>117kg</string>
	<string>118kg</string>
	<string>119kg</string>
	<string>120kg</string>
	<string>120kg以上</string>
</array>
</plist>
